{% extends "@FOSUser/layout.html.twig" %}
{% block loginHead %}
    <h1>Passwort ändern</h1>
{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
