{% extends "@FOSUser/layout.html.twig" %}
{% block background %}
    style="background-image: url('{{ asset('images/Login.mp4') }}');"
{% endblock %}
{% block back %}
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
        <source src="{{ asset('images/Login.mp4') }}" type="video/mp4">
    </video>
{% endblock %}
{% block loginHead %}
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('logo.png') }}">
    </div>
{% endblock %}
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
