{% extends 'base.html.twig' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('akademie_kurs_new') }}">
        <span>Kurs anlegen</span>
    </a>
{% endblock %}

{% block body %}
    {{ include('kurs/__indexTabel.html.twig') }}
{% endblock %}
