{% extends 'base.html.twig' %}
{% trans_default_domain 'kurs' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('akademie_kurs_new') }}">
        <span>{% trans %}addCourse{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    {{ include('kurs/__indexTable.html.twig') }}
{% endblock %}
