{% extends 'base.html.twig' %}
{% trans_default_domain 'kurs' %}

{% block CTA %}
{% endblock %}

{% block body %}
    <div>
        <h2>{{ title }}</h2>
        <div>
            {{ include('datenweitergabe/__form.html.twig') }}
        </div>
        <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ daten.user.email }}</p>
        {% if daten.previous %}
            <div>
                <h2>{% trans from 'general' %}history{% endtrans %}</h2>
                {{ include('datenweitergabe/__history.html.twig', {'p':daten.previous}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
