{% extends 'base.html.twig' %}

{% block CTA %}
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="h2-responsive">{{ title }}</h2>
        <div class="card card-body">
            {{ include('datenweitergabe/__form.html.twig') }}
        </div>
        <p>Erstellt von: {{ daten.user.email }}</p>
        {% if daten.previous %}
            <div class="card card-body mt-2">
                <h2>Historie</h2>
                {{ include('datenweitergabe/__history.html.twig', {'p':daten.previous}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
