{% extends 'team/index.html.twig' %}
{% trans_default_domain 'team' %}

{% block body %}
    <div class="card-outlined mb-5">
        <div class="tabs flex flex-col w-full">
            <div class="tabs-nav">
                <button data-type="tabs" data-target="#tab-courses" class="active">
                    <p>{% trans %}dataPrivacyLessons{% endtrans %}</p>
                </button>
                <button data-type="tabs" data-target="#tab-user">
                    <p>{% trans %}academy.users{% endtrans %}</p>
                </button>
                <button data-type="tabs" data-target="#tab-questionnaire">
                    <p>{% trans from 'questionnaire' %}questionnaire.words{% endtrans %}</p>
                </button>
                <div role="indicator" class="tabs-indicator"></div>
            </div>
            <hr>
            <div class="tabs-content">
                <div id="tab-courses" role="tabpanel" class="tab-content active">
                    {{ include('kurs/__indexTable.html.twig') }}
                </div>
                <div id="tab-user" role="tabpanel" class="tab-content">
                    <a href="{{ path('team_mitglieder_create', {'title':'Akademiemitglied hinzufügen', 'type':'academy'}) }}"
                       data-type="dialogs"
                       data-target="#modal-remote-content"
                       data-action="click->appUi#loadContentModal"
                       class="btn btn-create"
                    >{% trans %}academy.addUser{% endtrans %}</a>
                    {% if data|length %}
                        <ul class="stacked-list mt-5">
                            {% for d in data %}
                                <li>
                                    <div>
                                        <p>{{ d.email }}</p>
                                    </div>
                                    <div>
                                        <a href="{{ path('team_mitglieder_remove',{'memberId':d.id, 'teamId':team.id, 'type':'academy'}) }}" class="text-danger">
                                            {% trans from 'general' %}remove{% endtrans %}
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div id="tab-questionnaire" role="tabpanel" class="tab-content">
                    {% include 'questionnaire/questionnaire/list.html.twig' with {'questionnaires': questionnaires} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}