{% trans_default_domain 'team' %}
<div>
    <div>

        <div>
            <h5>{% trans with {'{teamName}': team.name} %}team.delete{% endtrans %}</h5>
        </div>
        <div>
            {{ form_start(form, {'attr': {'action': path('team_delete', {'id':team.id}), 'method': 'POST'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
