<div>
    <div>

        <div>
            <h5>{{ title }}</h5>

        </div>
        <div>
            {{ form_start(form, {'attr': {'action': path('team_custom_create', {'type':type, 'id':id}), 'method': 'POST'}}) }}
            {{ form_widget(form.name) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
