<div class="modal-content">
    <h3>{% trans with {'{teamName}': team.name} %}team.delete{% endtrans %}</h3>
    <p>{% trans %}team.deletionBlocked{% endtrans %}</p>
    <ul>
        {% for blocker in team.deleteBlockers %}
            <li>{{ blocker | trans }}</li>
        {% endfor %}
    </ul>
</div>