{% extends 'base.html.twig' %}
{% trans_default_domain 'vorfall' %}

{% block body %}

    <h2>{{ title }}</h2>
<div>
    {{ include('vorfall/__form.html.twig') }}
</div>

    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ vorfall.user.email }}</p>
    {% if vorfall.previous %}
        <div>
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('vorfall/__form.html.twig/__history.html.twig', {'p':vorfall.previous}) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
