{% extends 'base.html.twig' %}
{% trans_default_domain 'policies' %}

{% block body %}
    <h2>{{ title }}</h2>
    {{ include('policies/__form.html.twig') }}
    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ vvt.user.email }}</p>
    {% if vvt.previous %}
        <div>
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('policies/__history.html.twig', {'p':vvt.previous}) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
