version: '3.7'

services:
    app:
        build: .
        depends_on:
            - db
            - keycloak
        ports:
            - '8080:80'
        environment:
            APACHE_DOCUMENT_ROOT: 'dev/public/'
            PHP_EXTENSION_XDEBUG: '1'
            PHP_INI_MEMORY_LIMIT: '1G'
            APP_ENV: dev
            APP_DEBUG: 1
            DATABASE_URL: mysql://datenschutzcenter:test@db:3306/datenschutzcenter
            MAILER_HOST: ''
            MAILER_PORT: 587
            MAILER_PASSWORD: ''
            MAILER_USERNAME: ''
            MAILER_ENCRYPTION: tls
            MAILER_TRANSPORT: smtp
            OAUTH_KEYCLOAK_CLIENT_ID: datenschutzcenter
            OAUTH_KEYCLOAK_SERVER: http://${PUBLIC_IP}:8081
            OAUTH_KEYCLOAK_REALM: test
        volumes:
            - ./:/var/www/html/dev_out:rw
            - datenschutzcenter_uploads:/var/www/html/public/uploads:rw
            - datenschutzcenter_data:/var/www/html/public/data:rw

    db:
        image: mariadb:latest
        environment:
            MARIADB_ROOT_PASSWORD: test
        volumes:
            - mariadb:/var/lib/mysql
            - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    keycloak:
        image: quay.io/keycloak/keycloak:latest
        command: ['start-dev', '--import-realm']
        ports:
            - '8081:8080'
        depends_on:
            - db
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: test
            KC_DB_URL: jdbc:mariadb://db:3306/keycloak
            KC_DB: mariadb
            KC_DB_USERNAME: keycloak
            KC_DB_PASSWORD: test
            # KC_HOSTNAME not required because of start-dev
        volumes:
            - ./test-realms:/opt/keycloak/data/import
volumes:
    mariadb:
    datenschutzcenter_uploads:
    datenschutzcenter_data:
