{% extends "@FOSUser/layout.html.twig" %}
{% block loginHead %}
    <h1 class="h1-responsive">Profil anzeigen</h1>
{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
