{% extends "@FOSUser/layout.html.twig" %}
{% block loginHead %}<h1>Password Reset</h1>{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}
