{% trans_default_domain 'base' %}

{% if data.team in app.user.adminRoles and not data.activ == 0 %}
    <a href="{{ path(dataLink,{'id':data.id}) }}"
       data-click-confirm
       class="btn {{ data.approved ? 'btn-danger' : 'btn-create' }}">
        {{ data.approved ? 'rescindApproval'|trans : 'approve'|trans }}
    </a>
{% endif %}