{% trans_default_domain 'base' %}

{% if data.approved %}
    <div class="note-success">
        <h3 class="h3-responsive p-2">{% trans %}approvedBy{% endtrans %}{{ data.approvedBy.email }}</h3>
    </div>
{% endif %}