{% trans_default_domain 'base' %}

{% if data.team in app.user.adminRoles and not data.approved and not data.activ == 0 %}
    <a href='{{ path(dataLink,{'id':data.id}) }}' type='button' class='btn btn-danger'>
        {% if data.activ == 1 %}
            {% trans %}delete{% endtrans %}
        {% else %}
            {% trans %}restore{% endtrans %}
        {% endif %}</a>
{% endif %}