{% trans_default_domain domain|default('base') %}
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message | trans }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
