{% trans_default_domain 'base' %}
<ul>
    <li>

    </li>
    <li>
        <a target="_blank" referrerpolicy="no-referrer" href="{{ imprint }}">{% trans %}imprint{% endtrans %}</a>
    </li>
    <li>
        <a target="_blank" referrerpolicy="no-referrer"
           href="{{ dataPrivacy }}">{% trans %}dataPrivacy{% endtrans %}</a>
    </li>
    <li>
        <a target="_blank" referrerpolicy="no-referrer"
           href="https://github.com/H2-invent/open-datenschutzcenter/issues">{% trans %}bugReport{% endtrans %}</a>
    </li>
    <li>
        <a target="_blank" referrerpolicy="no-referrer"
           href="https://h2-invent.com/software/odc">{% trans %}salutation{% endtrans %} • {{ 'now'|date('Y') }} • v{{ laf_version }}</a>
    </li>
</ul>