<div id="snackbar" class="[&.show]:opacity-100 [&.show]:bottom-24 md:[&.show]:bottom-4 fixed left-4 right-4 -bottom-full opacity-0 duration-[2000ms] ease-[cubic-bezier(0, 0, 1)] flex flex-row items-center sm:w-80 gap-4 py-3 px-4 shadow-md rounded z-50 {{ snackClass }}">
    <p class="flex flex-grow text-sm tracking-[0.25px]">{{ flashMessage }}</p>
    <button data-close="#snackbar" class="flex items-center">
        <span class="material-symbols-outlined">close</span>
    </button>
</div>
<div class="hidden">
    <button type="button" data-type="snackbar" data-target="#snackbar" id="snackbar-trigger"></button>
</div>
