{% if snack is defined and snack %}
    <div id="snackbar" class="[&.show]:opacity-100 [&.show]:bottom-24 md:[&.show]:bottom-4 fixed left-4 right-4 -bottom-full opacity-0 duration-[400ms] ease-[cubic-bezier(0, 0, 1)] flex flex-row items-center sm:w-80 gap-4 py-3 px-4 shadow-md rounded text-neutral-50 dark:text-neutral-800 bg-neutral-800 dark:bg-neutral-100 z-50">
        <p class="flex flex-grow text-sm tracking-[0.25px]">{{ snack }}</p>
        <button data-close="#snackbar" class="flex items-center">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>
    <div class="hidden">
        <button type="button" data-type="snackbar" data-target="#snackbar" id="snackbar-trigger"></button>
    </div>
{% endif %}