{% if adminArea is defined and adminArea %}
    {% set teams = app.user.adminRoles %}
{% else %}
    {% set teams = app.user.teams %}
{% endif %}

{% if teams|length > 1 and currentTeam is defined and currentTeam %}
    <li>
        <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentTeam.name }}
        </a>
        <div aria-labelledby="navbarDropdownMenuLink">
            {% for team in teams %}
                {% if currentTeam == team %}
                    <a disabled>{{ team.name }}</a>
                {% else %}
                    <a href="{{ path('team_switch',{'team':team.id}) }}">{{ team.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endif %}
