{% set teams = adminArea is defined and adminArea ? app.user.adminRoles : app.user.teams %}

{% if currentTeam is defined and currentTeam %}
    <div class="flex flex-row justify-end items-center relative">
        {% if teams|length > 1 %}
            <button data-type="dropdown" data-target="#teamtoggle-menu" class="relative !inline-flex !items-center justify-center h-10 gap-x-2 p-3 rounded-[6.25rem] text-sm tracking-[.00714em] text-center font-medium hover:bg-surface-300 focus:bg-surface-400">
                <span class="material-symbols-outlined">group</span>
                {{ currentTeam.name }}
            </button>
            <ul id="teamtoggle-menu" role="dropdownmenu" class="dropdown hidden top-10">
                {% for team in teams %}
                    {% if team != currentTeam %}
                        <li class="relative">
                            <a href="{{ path('team_switch',{'team':team.id}) }}">{{ team.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="!inline-flex !items-center justify-center gap-x-2 p-3 text-sm font-medium">
                <span class="material-symbols-outlined">group</span>
                {{ currentTeam.name }}
            </div>
        {% endif %}
    </div>
{% endif %}
