<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fos_user_profile_edit') }}">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fos_user_change_password') }}">Passwort ändern</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
        </li>
    </ul>
</div>
