{% extends "@FOSUser/layout.html.twig" %}
{% block loginHead %}<h1>Registrieren</h1>{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
