{% extends "@FOSUser/layout.html.twig" %}
{% block background %}
    style="background-image: url('{{ asset('images/login.jpg') }}'); background-size: cover;"
{% endblock %}
{% block loginHead %}
    <div>
        <img src="{{ asset('logo.png') }}">
    </div>
{% endblock %}
{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
