{% extends "@FOSUser/layout.html.twig" %}
{% block background %}
    style="background-image: url('{{ asset('images/login.jpg') }}');"
{% endblock %}
{% block loginHead %}
    <div class="text-center">
        <img class="img-fluid" src="{{ asset('logo.png') }}">
    </div>
{% endblock %}
{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
