{% extends 'base.html.twig' %}
{% trans_default_domain 'external' %}
{% block CTA %}

{% endblock %}

{% block body %}
    <div>
        <h2>{% trans %}externalResource{% endtrans %}</h2>
        <iframe src="{{ team.externalLink }}" style="height: 70vh"></iframe>
        <p>
            {% trans %}disclaimer.odc{% endtrans %}
        </p>
    </div>
{% endblock %}
