{% extends 'base.html.twig' %}
{% trans_default_domain 'external' %}
{% block CTA %}

{% endblock %}

{% block body %}
    <div class="card card-body">
        <h2 class="h2-responsive">{% trans %}externalResource{% endtrans %}</h2>
        <iframe src="{{ team.externalLink }}" style="height: 70vh"></iframe>
        <p class="note-info text-center">
            {% trans %}disclaimer.odc{% endtrans %}
        </p>
    </div>
{% endblock %}
