{% extends 'base.html.twig' %}
{% trans_default_domain 'tom' %}

{% block body %}

    <h2>{{ title }}</h2>
<div>
    {{ include('tom/__form.html.twig') }}
</div>

    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ tom.user.email }}</p>
    {% if tom.previous %}
        <div>
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('tom/__history.html.twig', {'p':audit.previous}) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
