{% extends 'base.html.twig' %}
{% trans_default_domain 'tom' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ include('tom/__form.html.twig') }}
    <p class="form-help">{% trans from 'general' %}createdBy{% endtrans %}: {{ tom.user.email }}</p>
    {% if tom.previous %}
        <h3>{% trans from 'general' %}history{% endtrans %}</h3>
        <div>

            {{ include('tom/__history.html.twig', {'p':audit.previous}) }}
        </div>
    {% endif %}
{% endblock %}