{% extends 'base.html.twig' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('forms_new') }}">
        <span>{% trans %}newForm{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    {{ include('forms/__indexTable.html.twig') }}
{% endblock %}
