{% extends 'base.html.twig' %}
{% trans_default_domain 'forms' %}
{% block CTA %}
    <a href="{{ path('forms_new') }}">
        <span>{% trans %}newForm{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    {{ include('forms/__indexTable.html.twig') }}
{% endblock %}
