{% extends 'base.html.twig' %}
{% trans_default_domain 'forms' %}

{% block title %}
    {{ titel }}
{% endblock %}

{% block CTA %}
    <a href="{{ path('auftragsverarbeitung_new') }}" class="btn btn-create">
        {% trans %}taskProcessing.create{% endtrans %}
    </a>
{% endblock %}

{% block body %}
    {{ include('datenweitergabe/__indexTable.html.twig') }}
{% endblock %}

