{% extends 'base.html.twig' %}
{% trans_default_domain 'forms' %}
{% block CTA %}
{% endblock %}

{% block body %}

    <h2>{{ title }}</h2>
    <div>
        {{ include('forms/__form.html.twig') }}
    </div>
    <p>{% trans from 'general' %}createdBy{% endtrans %}: {{ daten.user.email }}</p>
    {% if daten.previous %}
        <div>
            <h2>{% trans from 'general' %}history{% endtrans %}</h2>
            {{ include('forms/__history.html.twig', {'p':daten.previous}) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
