{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="card card-form">
        {{ include('task/__form.html.twig') }}
    </div>
{% endblock %}