{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="h2-responsive">{{ title }}</h2>
    <div class="card card-body">
        {{ include('task/__form.html.twig') }}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
