{% extends 'email/base.html.twig' %}
{% trans_default_domain 'email' %}
{% block header %}
    {% trans %}subject.passwordResetHtml{% endtrans %}
{% endblock %}
{% block content %}
    {% trans|raw %}body.passwordResetHtml{% endtrans %}
    <button style="color: #00e676"><a href="{{ link }}">{{ link }}</a></button>

    <br><br>
    {% trans|raw %}salutation.kindRegards{% endtrans %}
{% endblock %}
