{% extends 'email/base.html.twig' %}
{% trans_default_domain 'email' %}
{% block header %}
    {% trans %}subject.passwordResetHtml{% endtrans %}
{% endblock %}
{% block content %}
    {% trans %}body.passwordResetHtml{% endtrans %}
    <a href="{{ link }}">{{ link }}</a>
    <spacer size="32"></spacer>
    {% trans %}salutation.kindRegards{% endtrans %}
{% endblock %}