{% extends 'base.html.twig' %}
{% trans_default_domain 'settings' %}

{% block CTA %}
    <h4>
        {% trans %}adminArea{% endtrans %}
        {% if currentTeam is defined and currentTeam %}{{ currentTeam.name }}{% endif %}
    </h4>
{% endblock %}

{% block body %}
    <h2>{% trans %}manageOdc{% endtrans %}</h2>

    <div>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascript %}
{% endblock %}
