{% extends 'base.html.twig' %}
{% trans_default_domain 'assistant' %}

{% block title %}
    {{ 'assistant.word' | trans }}
{% endblock %}

{% block body %}
    <div class="card card-outlined mb-5">{% trans %}assistant.info{% endtrans %}</div>
    <p>
        <a href="{{ path('assistant_step',{'step':0}) }}" class="btn btn-create">{% trans %}assistant.start{% endtrans %}</a>
    </p>
{% endblock %}
