{% extends 'base.html.twig' %}
{% trans_default_domain 'academy' %}

{% block body %}
    <div>
        <h2>{{ title }}</h2>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <p>
                {% trans %}vimeo.disclaimer{% endtrans %}
            </p>
        </div>
    </div>
{% endblock %}
