{% extends 'base.html.twig' %}
{% trans_default_domain 'upload' %}

{% block body %}

    <h2>{% trans %}import.word{% endtrans %}</h2>
    <div>
<div>
    <h2>{% trans %}import.failure{% endtrans %}</h2>
    <h3>{{ message }}</h3>
</div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
