{% extends 'base.html.twig' %}
{% trans_default_domain 'upload' %}

{% block body %}
    <div>
        <h2>{% trans %}import.word{% endtrans %}</h2>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <div>
                {% trans | raw %}import.warning{% endtrans %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
