{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="h2-responsive">Import</h2>
    <div class="card card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
