{% extends 'base.html.twig' %}
{% trans_default_domain 'upload' %}

{% block body %}

    <h2>{% trans %}import.word{% endtrans %}</h2>
    <div>
<div>
    <h2>{% trans %}import.success{% endtrans %}</h2>
</div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
