{% extends 'base.html.twig' %}
{% trans_default_domain 'upload' %}

{% block body %}

    <h2 class="h2-responsive">{% trans %}import.word{% endtrans %}</h2>
    <div class="card card-body">
<div class="alert-success alert">
    <h2>{% trans %}import.success{% endtrans %}</h2>
</div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
