{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="h2-responsive">Import</h2>
    <div class="card card-body">
<div class="alert-success alert">
    <h2>Der Import war erfolgreich</h2>
</div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
