{% extends 'base.html.twig' %}

{% block CTA %}
{% endblock %}

{% block body %}
    <h2 class="h2-responsive">Meine Zuweisungen</h2>
    <a class="btn btn-sm btn-primary" href="{{ path('assign',{'vvt':true,'audit':true}) }}">Alle Zuweisungen</a>
    <a class="btn btn-sm bg-vvt" href="{{ path('assign',{'vvt':true}) }}">Meine Verarbeitungen</a>
    <a class="btn btn-sm bg-audit" href="{{ path('assign',{'audit':true}) }}">Meine Auditfragen</a>
    <div class="card card-body">

        {% for a in assign|sort((a, b) => b.createdAt <=> a.createdAt) %}
            {% if a.activ == 1 %}
                {{ include('assign/__assignItem.html.twig') }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
