/* make tooltip visible for required fields */
textarea.summernote {
    display: block !important;
    position: absolute;
    opacity: 0 !important;
    height: 100%;
}

/* for positioning of textarea */
.form-group {
    position: relative;
}
