@import "./tailmater.css";

td, th {
    @apply border-0;
}

.dataTables_wrapper {
    /* sub 17.5rem = article ml-60 (width: 15rem) + px-3 (width: 1.5rem) + 1rem */
    @apply rounded-xl border max-w-[calc(100vw_-_17.5rem)] overflow-x-auto p-5 bg-white;
}

.dataTables_wrapper::after {
    content: "";
    @apply clear-both block;
}

.dataTables_length {
    @apply p-0 float-left pb-5;
}

.dataTables_filter {
    @apply p-0 float-right pb-5;
}

.dataTables_info {
    @apply mt-10 float-left text-gray-500 text-sm leading-7;
}

.dataTables_paginate {
    @apply mt-10 float-right;
}

.dataTables_filter input {
    @apply w-auto ml-2 px-2 py-1 text-sm;
}

.dataTables_paginate a {
    @apply ml-1 gap-x-2 py-2.5 px-6 rounded-[6.25rem] text-sm font-medium bg-surface-100 hover:bg-surface-200 focus:bg-surface-300 text-primary-600 inline cursor-pointer;
}

.dataTables_paginate a.paginate_button.current {
    @apply bg-primary-100;
}

.dataTables_paginate a.paginate_button.disabled {
    @apply cursor-default bg-surface-50 hover:bg-surface-50 text-gray-500;
}

table.dataTable {
    @apply w-full divide-y divide-surface-200;
}

table.dataTable > thead {
    @apply bg-white;
}

table.dataTable > thead > tr > th {
    @apply px-3 py-3 text-left text-xs font-medium uppercase tracking-wide;
}

table.dataTable > thead > tr > th:first-child {
    @apply py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide sm:pl-6;
}

table.dataTable > thead > tr > th:last-child {
    @apply relative py-3 pl-3 pr-4 sm:pr-6;
}

table.dataTable > tbody {
}

table.dataTable > tbody > tr:not(.row-color):nth-child(odd) {
    @apply bg-white hover:bg-surface-100;
}

table.dataTable > tbody > tr:not(.row-color):nth-child(even) {
    @apply bg-surface-50 hover:bg-surface-100;
}

table.dataTable > tbody > tr > td {
    @apply px-3 py-4 text-sm;
}

table.dataTable > tbody > tr > td:first-child {
    @apply whitespace-nowrap py-4 pl-4 pr-3 sm:pl-6;
}

table.dataTable > tbody > tr > td:last-child {
    @apply relative whitespace-nowrap py-4 pl-3 pr-4 sm:pr-6;
}

table.dataTable > tbody > tr > td > a {
    @apply font-medium bg-surface-100 hover:bg-surface-200 py-1 px-2 rounded-[6.25rem] text-primary-600;
}

table.dataTable > tbody > tr[data-href] > td {
    @apply cursor-pointer;
}