{% extends 'base.html.twig' %}

{% block CTA %}
    <a href="{{ path('client_requests_show',{'id':data.id}) }}" class="btn btn-sm btn-primary">Zurück</a>
{% endblock %}

{% block body %}

    <div class="card card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
