{% extends 'client_request/base.html.twig' %}

{% block title %}
    <title>Datenschutzcenter Kundenportal</title>
{% endblock %}

{% block content %}
    <div>
        <a href="{{ path('client_index', {'id':team.id}) }}" class="btn btn-primary btn-sm">Zurück zum Portal</a>
        <div class="card card-body">
            <h1 class="h1-responsive text-center">Neue Anfrage stellen</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
