{% extends 'base.html.twig' %}
{% trans_default_domain 'dsb' %}
{% block body %}
    <div class="container">
        <h2 class="h2-responsive">{% trans %}dsbTeams{% endtrans %}</h2>

        <div class="card card-body">
            {% for t in teams %}
                <div class="row text-center text-md-left">
                    <div class="col">
                        <b>{{ t.name }}</b>, {{ t.strasse }} {{ t.plz }} {{ t.stadt }}
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% trans %}footer.disclaimer{% endtrans %}
        </div>
    </div>
{% endblock %}
