<form method="post" action="{{ path('app_vvtdatenkategorie_delete', {'id': vvtdatenkategorie.id}) }}" onsubmit="return confirm('Möchten Sie diese Aktion wirklich durchführen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vvtdatenkategorie.id) }}">
    <button color = "red" class="btn btn-danger ml-1 btn-sm">Löschen</button>
</form>
