{% extends 'base.html.twig' %}
{% trans_default_domain 'audit_tom' %}

{% block body %}

    <h2>{{ title }}</h2>
<div>
    {{ include('audit_tom/__form.html.twig') }}
</div>

    <p>{% trans %}createdBy{% endtrans %}: {{ audit.user.email }}</p>
    {% if audit.previous %}
        <div>
            <h2>{% trans %}history{% endtrans %}</h2>
            {{ include('audit_tom/__history.html.twig', {'p':audit.previous}) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
