{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="h2-responsive">{{ title }} {{ software.name }}</h2>
    <div class="card card-body {% if not activ or software.approved %}disabled{% endif %}">
        {{ include('software/__ConfigForm.html.twig') }}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}
