<!DOCTYPE html>
<html>
    {{ include('base/__head.html.twig') }}
    <body>
        <header>
            {% block CTA %}{% endblock %}
            {{ include('base/__topnav.html.twig') }}
        </header>
        <main>
            <aside>
                {{ include('base/__sidenav.html.twig') }}
            </aside>
            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            {{ include('base/__footer.html.twig') }}
        </footer>
    </body>
</html>