<!DOCTYPE html>
<html>
    {{ include('base/__head.html.twig') }}
    <body>
        <main>
            {% block back %}{% endblock %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
</html>