<!DOCTYPE html>
<html>

{{ include('base/__head.html.twig') }}

<body>
<div class="wrapper" style="background-color: #545b62">
    <div id="content">
        {% block content %}{% endblock %}
</div>

{{ include('base/__script.html.twig') }}


</body>

</html>
