<footer>
    Erstellt am: {{ "now"|date("d.m.Y H:i") }} mit <strong><a href="https://h2-invent.com/software/odc">Open-Datenschutz
            Center</a></strong><br>
    <small>Open-Datenschutz Center ist die Open Source Lösung um Datenschutzdokumente schnell, einfach und sicher zu
        erstellen</small>
</footer>