{% trans_default_domin 'tom' %}
<p>{% trans %}measuresTaken{% endtrans %}:</p>
<ul>
    {% for data in daten %}
        {% if data.tomZiel == item %}
            <li>{{ data.tomAttribut }} <small>({{ data.nummer }})</small></li>
        {% endif %}
    {% endfor %}
</ul>
<h4 style="text-align: center">---</h4>
