{% trans_default_domin 'bericht' %}
<footer>
    {% trans from 'general' %}createdAt{% endtrans %}: {{ "now"|date("d.m.Y H:i") }} {% trans %}with{% endtrans%}
    <strong><a href="https://h2-invent.com/software/odc">{% trans %}openDataPrivacyCenter.word{% endtrans %}</a></strong><br>
    <small>{% trans %}openDataPrivacyCenter.disclaimer{% endtrans %}</small>
</footer>
