{% trans_default_domain 'bericht' %}
<h4>{% trans %}tableOfContents{% endtrans %}/h4>

{% for company in companies %}
<h5>{{ company.name }}</h5>
<ul>
    <li>
        <a href="{{ link }}">{{ data }}</a>
    </li>
</ul>
