{% trans_default_domein 'bericht' %}
<div>
    <div>

        <div>
            <h5>{% trans %}customerRequest.create{% endtrans %}</h5>

        </div>
        <div>
            {{ form_start(form, {'attr': {'action': path('bericht_reports'), 'method': 'GET'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div>
            <button type="button" data-dismiss="modal">{% trans from 'general'%}abort{% endtrans %}</button>
        </div>
    </div>
</div>
