{% extends 'base.html.twig' %}
{% trans_default_domain 'datenweitergabe' %}

{% block title %}{{ titel }}{% endblock %}

{% block CTA %}
    <a href="{{ path('auftragsverarbeitung_new') }}" class="btn btn-create">
        {% trans %}requestProcessing.create{% endtrans %}
    </a>
    <!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#centralModalMd" class="btn">
        {% trans %}info{% endtrans %}
    </button>
{% endblock %}

{% block body %}
    {{ include('datenweitergabe/__indexTable.html.twig') }}

    <!-- Central Modal Medium -->
    <div id="centralModalMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div role="document">


            <div>
                <div>
                    <h4 id="myModalLabel">{% trans %}requestProcessing.explanation{% endtrans %}</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    {% trans %}requestProcessing.contract{% endtrans %}
                </div>
                <div>
                    <button type="button"
                            data-dismiss="modal">{% trans from 'general' %}close{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Central Modal Medium -->
{% endblock %}

