{% extends 'base.html.twig' %}
{% trans_default_domain 'datenweitergabe' %}

{% set fullWidthLayout = true %}

{% block title %}{{ titel }}{% endblock %}

{% block CTA %}
    <a href="{{ path('auftragsverarbeitung_new') }}" class="btn btn-create">
        {% trans %}requestProcessing.create{% endtrans %}
    </a>
    <button type="button" data-type="dialogs" data-target="#centralModalMd" class="btn">
        {% trans %}info{% endtrans %}
    </button>
{% endblock %}

{% block body %}
    {{ include('datenweitergabe/__indexTable.html.twig') }}
    <div id="centralModalMd" class="modal">
        <div data-close="#centralModalMd" class="modal-close"></div>
        <div class="modal-inner">
            <div class="modal-content">
                <h3>{% trans %}requestProcessing.explanation{% endtrans %}</h3>
                {% trans %}requestProcessing.contract{% endtrans %}
            </div>
            <div class="modal-footer">
                <button type="button" data-close="#centralModalMd" class="btn btn-close">
                    {% trans from 'general' %}close{% endtrans %}
                </button>
            </div>
        </div>
    </div>
{% endblock %}

