{% trans_default_domain 'loeschkonzept' %}
<form method="post" action="{{ path('app_loeschkonzept_delete', {'id': loeschkonzept.id}) }}" onsubmit="return confirm({% trans %}confirmAction{% endtrans %});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loeschkonzept.id) }}">
    <button color = "red">{% trans from 'general' %}delete{% endtrans %}</button>
</form>
