{% extends 'base.html.twig' %}

{% block CTA %}
    <a class="btn btn-primary ml-1 btn-sm" href="{{ path('app_loeschkonzept_index') }}">
        <span>Zurück</span>
    </a>
    {{ include('loeschkonzept/_delete_form.html.twig') }}

{% endblock %}

{% block body %}
    <h1>Löschkonzept bearbeiten</h1>

    
    {{ include('loeschkonzept/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
