{% extends 'base.html.twig' %}
{% trans_default_domain 'loeschkonzept' %}

{% block CTA %}
    <a href="{{ path('app_loeschkonzept_index') }}">
        <span>{% trans from 'general' %}back{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <h1>{% trans %}deletionConcept.create{% endtrans %}</h1>

    {{ include('loeschkonzept/_form.html.twig') }}

{% endblock %}
