<!-- Card -->
<div class="card hoverable {{ farbe }}">
    <!-- Card content -->
    <div class="card-body">
        <span class="h4-responsive">{{ title }}</span>
        <span>( {{ metrik }} )</span>
    </div>
</div>
<!-- Card -->