<!-- Card -->
<div class="card hoverable {{ farbe }}">
    <!-- Card content -->
    <div class="card-body">
        <span class="h3-responsive">{{ metrik }}</span>
        <span>{{title}}</span>
    </div>
</div>
<!-- Card -->