{% extends 'base.html.twig' %}
{% trans_default_domain 'dashboard' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 lg:grid-cols-7 gap-10 mb-10">
        <div class="lg:col-span-4">
            {{ include('dashboard/__assign.html.twig') }}
        </div>
        <div class="lg:col-span-3">
            {{ include ('dashboard/__quickAccess.html.twig') }}
        </div>
    </div>
    {{ include ('dashboard/__flowChart.html.twig') }}
    {{ include('base/__snack.html.twig') }}
{% endblock %}