{% extends 'client_request/base.html.twig' %}
{% trans_default_domain 'dashboard' %}

{% block content %}

    <div>
        <div>
            <h2>{% trans %}noTeam{% endtrans %}</h2>
        </div>
        <div>
            <p>{% trans %}noTeamHelp{% endtrans %}</p>
            <a href="mailto:{{ supportMail }}">{% trans %}supportRequest{% endtrans %}</a>
            <a href="{{ path('logout_keycloak') }}">{% trans %}logout{% endtrans %}</a>
        </div>
    </div>

{% endblock %}