{% extends 'base.html.twig' %}

{% block CTA %}

{% endblock %}

{% block body %}

    <div class="headerBorder text-white text-center">
        <span>
                <h2 class="h2-responsive">{{ 'Kein Team vorhanden'|trans }}</h2>
                <p class="p-3">{% trans %}Für Ihren Benutzer mit der Email Adresse ist kein Team vorhanden.{% endtrans %}</p>
            </span>
    </div>
{% endblock %}