{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .container.header {
            background: #f3f3f3;
        }

        .body-border {
            border-top: 8px solid #663399;
        }
    </style>

    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">
                    {% block header %}


                    {% endblock %}
                </h1>

            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>

                <spacer size="32"></spacer>

                <spacer size="16"></spacer>
                {% block content %}

                {% endblock %}
            </columns>
        </row>

        <spacer size="16"></spacer>
    </container>
{% endapply %}
